.work {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;

    min-height: 400px;
}

.work:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
