.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: color .3s ease-in-out;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}


