.box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;

    height: 300px;
}

.box img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.box:hover img {
    transform: scale(1.1);
}

.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.box:hover .layer {
    transform: translateY(0);

}

.layer h4 {
    font-size: 3rem;
    cursor: default;
}

.layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    cursor: default;
}

.layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

