.box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;

    height: 350px;

    /* min-width: 320px; */
}

.box img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.box:hover img {
    transform: scale(1.1);
}

.layer {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(rgba(0, 0, 0, .7), var(--main-color));
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    text-align: center;
    transition: .5s ease;

    
    
}

.desc {
    display: flex;
    padding: 10px 0 30px 0;
    height: 100% !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 10px;
}

/* .box:hover .layer {
    transform: translateY(0);

} */

.layer h4 {
    font-size: 3rem;
}

/* .layer p {
    font-size: 16px;
    line-height: 21px;
    margin: .3rem 0 1rem;
    
    -webkit-line-clamp: 7;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.layer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.layer a i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
    color: var(--second-bg-color);
    min-width: 5rem !important;
    min-height: 5rem !important;
    background: var(--text-color);
    border-radius: 50%;
} */


